@model tarnetWeb.Models.Model.Slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout - .cshtml";
}



<div>
    <h4>Detaylar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Başlik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Başlik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            <img src="@Model.ResimURL"   />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Detaylar", "Edit", new { id = Model.SliderId }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
